//*******************************

// Typography

//*****************************

h1, .h1 {
  font-family: Fira sans;
  font-size: 48px;
  line-heoght: 1.4em;
  color: #333333;
}

h2, .h2 {
  font-family: Fira sans;
  font-size: 36px;
  line-heoght: 1.4em;
  color: #333333;
  margin-top: 0;
  margin-bottom: 1em;
}

h3, .h3 {
  font-family: Fira sans;
  font-size: 24px;
  line-heoght: 1.4em;
  color: #333333;
  margin-top: 0;
}

h4, .h4 {
  font-family: Fira sans;
  font-size: 18px;
  line-heoght: 1.4em;
  color: #333333;
}

h5, .h5 {
  font-family: Fira sans;
  font-size: 16px;
  line-heoght: 1.4em;
  color: #777777;
  font-weight: 400px;
}

h6, .h6 {
  font-family: Fira sans;
  font-size: 16px;
  color: #333333;
}

p, .p {
  font-family: Fira sans;
  font-size: 16px;
  color: #333333;
  margin-bottom: 1em;
}

// Modify margins
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  &.no-margin {
    margin-bottom: 0;
    margin-top: 0;
  }
  &.no-margin-top {
    margin-top: 0;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
  &.large-margin-bottom {
    margin-bottom: $line-height-computed * 1.5;
  }
  &.larger-margin-bottom {
    margin-bottom: $line-height-computed * 2;
  }
}

// Don't want margins on first / last children
section, .content {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

p.heading {
  color: $gray;
}

//*******************************

// Links

//*****************************

a.action-link {
  &:hover {
    text-decoration: none;
  }
}

//*******************************

// Media / images

//*****************************

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

//*******************************

// Buttons

//*****************************

// buttons with icons

.btn-icon {
  width: 100%;
  i {
    line-height: 1.3em;
  }
}

//*******************************

// Dropdowns

//*****************************

// Force dropdown open
.stay-open + ul {
  position: relative;
  float: none;
  display: block;
  margin-bottom: 5px;
  clear: left;
  z-index: 900;
}

//*******************************

// Icons

//*****************************

a {
  i.fa {
    &:hover {
      text-decoration: none;
    }
  }
}

i.fa {
  margin-right: 0.4em;
}

.icon-right {
  text-align: left;
  i.fa {
    float: right;
    margin-right: 0;
  }
}

//*******************************

// Social

//*****************************

.social-icons {
  i {
    margin-right: 0;
  }
  ul > li {
    padding: 0;
  }
  a {
    color: $gray;
    display: block;
    &, i {
      font-size: 1.05em;
      height: 18px;
      overflow: hidden;
      text-align: center;
      width: 25px;
    }
    &:hover {
      text-decoration: none;
    }
    &.facebook:hover {
      color: $blue-facebook;
    }
    &.twitter:hover {
      color: $blue-twitter;
    }
    &.pinterest:hover {
      color: $red-pinterest;
    }
    &.youtube:hover {
      color: $red-youtube;
    }
    &.flickr:hover {
      color: $pink-flickr;
    }
  }
}

//*******************************

// Ratings

//*****************************

.rating-box {
  margin-bottom: $line-height-computed;
}

.rating a.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  &:hover, &:active, &.active {
    &:before {
      content: "\f005";
    }
  }
  &:hover {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
  }
  &:before {
    content: "\f006";
    padding-right: 5px;
  }
}

//*******************************

// Blocks

//*****************************

.block {
  .block-title {
    font-size: $font-size-h3;
    margin-top: 0;
  }
}

.category {
  margin-bottom: 2em;
}

.navbar {
  margin-bottom: 0;
}

.btn-circle {
  margin-top: -.5em;
  padding-bottom: 1.5em;
}

.jumbotron {
  padding: 2em 1em 1em;
  margin-bottom: 3em;
}

.navbar {
  min-height: 72px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 400;
  padding: 30px 15px;
  font-color: #333333;
}

.navbar-default .navbar-nav {
  font-size: 16px;
  font-family: Fira sans;
  padding-top: 20px;
}

.search-bar {
  padding-bottom: 2em;
}

//*******************************

// Nodes

//*****************************

.node-teaser {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 35px;
  margin-bottom: 35px;
  .field-name-body > p:last-child {
    margin-bottom: 0;
  }
}

.views-teaser-list .node-teaser:last-child {
  border-bottom: 0;
}

//*******************************

// Catalog

//*****************************

.catalog {
  .availability {
    color: $brand-success;
  }
}
