//*******************************

// Styleguide

//*****************************

section {
  margin-bottom: 50px;
}

.header {
  padding-bottom: 20px;
  padding-top: 20px;
}

.banner {
  background: $gray-lighter;
  padding: 20px 0;
  display: block;
}

main.content {
  padding-top: 50px;
}

.type {
  h4, .h4,
  h5, .h5,
  h6, .h6,
  p {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed / 2;
  }
}

.content.container {
  padding-top: 30px;
}

// Headers

p + hr {
  margin-top: -4px;
}

.color-swatch {
  margin-bottom: 44px;
  width: 60px;
  height: 60px;
  &:after {
    display: block;
    padding-top: 65px;
  }
}

.half .color-swatch {
  width: 100% !important;
}

@media screen and (min-width: $screen-sm) {
  .color-swatch {
    width: 100px;
    height: 100px;
    &:after {
      padding-top: 105px;
    }
  }
}

// Dropdowns

.dropdowns {
  .dropdown-menu {
    width: 100%;
  }
}

// Colors

.brand-primary {
  background-color: $brand-primary;
  &:after {
    content: #{$brand-primary};
  }
}

.brand-primary-alt {
  background-color: $brand-primary-alt;
  &:after {
    content: #{$brand-primary-alt};
  }
}

.brand-success {
  background-color: $brand-success;
  &:after {
    content: #{$brand-success};
  }
}

.brand-success-alt {
  background-color: $brand-success-alt;
  &:after {
    content: #{$brand-success-alt};
  }
}

.brand-alert {
  background-color: $brand-danger;
  &:after {
    content: #{$brand-danger};
  }
}

.brand-alert-alt {
  background-color: $brand-danger-alt;
  &:after {
    content: #{$brand-danger-alt};
  }
}

.brand-secondary {
  background-color: $brand-info;
  &:after {
    content: #{$brand-info};
  }
}
